
#titulo { -fx-font-family: "Times New Roman"; 
         -fx-font-style: italic;
         -fx-font-size: 36px;
         -fx-text-fill: #FFFFFF;
}

#fondo { -fx-background-color: #F90000; }

Button { -fx-background-color: #E6FD74;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FF3399;
         -fx-font-family: "Georgia";
         -fx-font-style: italic;
         -fx-font-size: 28px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}

#autor { -fx-font-family: "Times New Roman";
         -fx-text-fill: #660099;
         -fx-font-size: 12px;
}

Button:hover { -fx-background-color: #333333;
               -fx-font-size: 22px;
}

Button:pressed { -fx-background-color: #FFFFFF;
                 -fx-text-fill: #000000;
	         -fx-font-weight: bold;
}
