
#titulo { -fx-font-family: "Hervetica"; 
         -fx-font-style: italic;
         -fx-font-size: 36px;
         -fx-text-fill: #FFFFFF;
}

#fondo { -fx-background-color: #000000; }

Button { -fx-background-color: #008287;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FFFFFF;
         -fx-font-family: "Times New Roman";
         -fx-font-style: italic;
         -fx-font-size: 28px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}

#autor { -fx-font-family: "Hervetica";
         -fx-text-fill: #FFFF00;
         -fx-font-size: 12px;
}

Button:hover { -fx-background-color: #333333;
               -fx-font-size: 22px;
}

Button:pressed { -fx-background-color: #FFFFFF;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}
